<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ft-recipe">
                    <div class="ft-recipe__thumb">
                        <span id="close-modal">
                            <i class="ion ion-md-close"></i>
                        </span>
                        <img src="https://zippypaws.com/app/uploads/2018/05/strawberry-waffles-1024x668.jpg"
                            alt="Strawberry Waffle" />
                    </div>
                    <div class="ft-recipe__content">
                        <header class="content__header">
                            <div class="row-wrapper">
                                <h2 class="recipe-title">{{product.name}}</h2>
                                <div class="user-rating"></div>
                            </div>
                            <ul class="recipe-details">
                                <li class="recipe-details-item time">
                                    <i class="fa fa-clock icon-small"></i>
                                    <span class="value">20</span>
                                    <span class="title">Minutes</span>
                                </li>
                                <li class="recipe-details-item ingredients">
                                    <i class="fa fa-book icon-small"></i>
                                    <span class="value">5</span>
                                    <span class="title">Ingredients</span>
                                </li>
                                <li class="recipe-details-item servings">
                                    <i class="fa fa-users icon-small"></i>
                                    <span class="value">4-6</span>
                                    <span class="title">Serving</span>
                                </li>
                            </ul>
                        </header>
                        <p class="description">
                            There’s no better way to celebrate May being National Strawberry Month than by sharing a
                            sweet treat with your pup!!! Strawberries...
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

