 <div class="menuright">
      <div class="menu">
        <!-- <a href="javascript:void(0)" (click)="openMenu()" class="sidemenu-toggler">
          <span></span>
          <span></span>
          <span></span>
        </a> -->
        <!-- <img *ngIf="!identity" src="./assets/svg/user-login.svg" alt="Mall Connect"> -->
        <!-- <img *ngIf="identity && identity.img" [src]="(identity.img || '') | imagenPipe: 'usuarios'" alt="Mall Connect"> -->
        <div class="sidemenu">
          <a href="javascript:void(0)" (click)="closeMenu()" class="close"></a>
          <nav>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/review">Mi pedido</a></li>
              <li><a routerLink="/checkout">Checkout</a></li>
              <!-- <li><a routerLink="/tiendas">Tiendas</a></li> -->
              <!-- <li><a href="homeindividual.html">Promociones</a></li> -->
              <li *ngIf="identity"><a [routerLink]="['/my-account/',]">Mi perfil</a></li>
              <li *ngIf="identity"><a href="javascript:void(0)" (click)="logout()">Salir</a></li>
              <li *ngIf="!identity"><a routerLink="/login">Login</a></li>
              <li *ngIf="!identity"><a routerLink="/registro">Registro</a></li>
              <!-- <li><a href="">Contacto</a></li> -->
            </ul>
          </nav>

        </div>
      </div>
    </div>