<app-loading *ngIf="isLoading"></app-loading>

<div class="featured-image"
cdkDropList #doneList="cdkDropList" id="doneList"
    [cdkDropListConnectedTo]="['todoList']"
    [cdkDropListData]="items"
    (cdkDropListDropped)="drop($event)"
>

<div *ngFor="let item of items; let i = index" class="bandeja-item" cdkDrag>
 
  <div class="item-bandeja" (click)="mostrarinfo(item)">
      <img [src]="item.img | imagenPipe:'productos' " [alt]="item.titulo" class="bandeja-item-image" />
      <!-- <div class="item-color" *ngIf="item.color" [style.background-color]="item.color"></div> -->
  </div>
 
</div>
<app-infoburbuja [items]="items" [itemSelected]="itemSelected" (itemsChange)="onItemsChange($event)" (itemRemoved)="onItemRemoved($event)" ></app-infoburbuja>
 <!-- <div class=" bandeja-item-info-hide animated fadeInUp">
    <div class="inff">
      <p class="bandeja-item-name">{{ item?.titulo }}</p>
     <p class="bandeja-item-price">${{ item?.precio_ahora }}</p>
    </div>
     <div class="eliminaritem " (click)="removeItem(item)">
       <i class="fa fa-trash"></i>
     </div>
  </div> -->
<img src="./assets/img/bandeja.png" alt="Assorted pastries on wooden board" class="tray-image" />


</div>


