<header class="header">
  <div class="header-left">
    <a href="javascript:void(0)" (click)="openMenu()" class="sidemenu-toggler">
      <i class="fa fa-bars text-black" ></i>
    </a>
   
    <div class="location">
      <i class="fa fa-map-pin "></i>
      <!-- <span>Grand City, MI</span> -->
      <select id="paymentMethod" class="form-control" name="tienda" (change)="onSelectStore(tiendaSelected)"
              [(ngModel)]="tiendaSelected">
        <option [ngValue]="null">
          Seleccione
        </option>
        <option [ngValue]="tienda" *ngFor="let tienda of tiendas">
          {{tienda.nombre}}
        </option>
      </select>
    </div>
  </div>
  <div class="logo cursor" routerLink="/">
    <i class="fa fa-shopping-bag "></i>
    <span>SlideDish </span>
  </div>
  <div class="header-right">
    <i class="fa fa-user "></i>
    <span class="cart-count-badge" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10"> {{totalList}}</span>
    <i class="fa fa-shopping-cart  cursor" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10" routerLink="/review"></i>
  </div>
</header>

<app-menu></app-menu>
