<header class="header">
  <div class="header-left">
    <a href="javascript:void(0)" (click)="openMenu()" class="sidemenu-toggler">
      <i class="fa fa-bars icon-small" ></i>

    </a>
   
    <div class="location">
      <i class="fa fa-map-pin icon-small"></i>
      <span>Grand City, MI</span>
    </div>
  </div>
  <div class="logo cursor" routerLink="/">
    <i class="fa fa-shopping-bag icon-small"></i>
    <span>SlideDish </span>
  </div>
  <div class="header-right">
    <i class="fa fa-user icon-small"></i>
    <span class="cart-count-badge" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10"> {{totalList}}</span>
    <i class="fa fa-shopping-cart icon-small cursor" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10" routerLink="/review"></i>


    <!-- <div *ngIf="bandejaList > 0">
      <a routerLink="/cart">
        <span class="cart-count-badge" *ngIf="bandejaList > 0 && bandejaList <= 10">{{bandejaList}}</span>
        <span class="cart-count-badge" *ngIf="bandejaList > 10">
          <i class="fa fa-shopping-cart icon-small"></i>
        </span>
      </a>
    </div> -->

    
  </div>

</header>

<app-menu></app-menu>