<div class="category-filter">
  <button
    class="category-button"
    [class.active]="activeCategory === 'all'"
    (click)="selectCategory('all')"
  >
    Todo
  </button>
  <button
    *ngFor="let category of subcategories"
    class="category-button"
    [class.active]="activeCategory === category.nombre"
    (click)="selectCategory(category.nombre)"
  >
    {{ category.nombre }}
  </button>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<div class="product-carousel" *ngIf="!isLoading">
  <div class="carousel-container" #carouselContainer>
    <div class="carousel-track"
    cdkDropList #todoList="cdkDropList" id="todoList"
    [cdkDropListConnectedTo]="['doneList']"
    [cdkDropListData]="todo"
    (cdkDropListDropped)="drop($event)">
      <div class="product-card" *ngFor="let product of todo; let i = index" cdkDrag>
       <app-product-item [product]="product" (productSelected)="openModal($event)"></app-product-item>
      </div>
    </div>
  </div>
  <button class="carousel-nav carousel-prev" (click)="scrollLeft()">
    <i class="fa fa-chevron-left icon-small"></i>
  </button>
  <button class="carousel-nav carousel-next" (click)="scrollRight()">
    <i class="fa fa-chevron-right icon-small"></i>
  </button>
</div>

<app-modalproduct [product]="selectedProduct"></app-modalproduct>
