
/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem 1.5rem;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e2e8f0;
   position: sticky;
   z-index: 1;

   animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px; /* anima los primeros 200px*/
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.location span {
  font-size: 0.875rem;
  color: #4b5563;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* background-color: white; */
  padding: 0.25rem 0.5rem;
  /* border-radius: 0.375rem; */
}

.isotipo, 
.tipologo{
  width: 60%;
}

.logo img{
  width: 50%;
  height: auto;
  display: block;
  
}

.logo span {
  font-weight: 500;
  color: #1f2937;
}





@keyframes enhance-header {
    to {
        background: rgba(255,255, 255,.4);
        backdrop-filter: blur(5px);
        font-size: 12px;
        color:black;
    }
}

@media (max-width:768px) {
  .logo img{
  width: 70%;
  height: auto;
  display: block;
  
}
}