<app-header></app-header>
<app-hero></app-hero>
<div class="container">
    <app-sliderproducts (productDropped)="onProductDropped($event)"></app-sliderproducts>

  <app-loading *ngIf="isLoading"></app-loading>
<app-bandeja 
*ngIf="!isLoading"
  [items]="bandejaList" 
  (itemsChange)="onItemsChange($event)" 
  (itemRemoved)="onItemRemoved($event)">
</app-bandeja>
<div class="order-button-container">
  <button class="order-button" routerLink="/review" >
    Review Order
    <i class="fa fa-chevron-right icon-small"></i>
  </button>
</div>
</div>

