<app-header></app-header>
<main class="container">
    <div class="hero">
        <h1>Review Order</h1>
    </div>
    <div class="hero" *ngIf="!isbandejaList">
        <h1>Shopping Bag Empty</h1>
    </div>

    

    <app-bandeja *ngIf="isbandejaList"  [items]="bandejaList" (itemsChange)="onItemsChange($event)"
        (itemRemoved)="onItemRemoved($event)">
    </app-bandeja>
    <div class="order-list" *ngIf="isbandejaList">
        <div class="order-list-bar"></div>
        <div class="list-box">
            <h3>My Order</h3>
            <div class="clear"></div>
            <div class="overf">
                <!-- itemlist -->
                <div class="top-item">
                    <div class="list-item-left">

                        <span class="burbleinfo">
                            <!-- <i class="fa fa-shopping-bag icon-small" ></i> -->
                            Order No.{{randomNum}}
                        </span>

                    </div>
                    <div class="list-item-right">
                        <span class="burbleinfo">Hoy es: {{fechaHoy}}</span>

                    </div>
                </div>
                <div class="list-item" *ngFor="let item of bandejaList; let i = index">
                    <div class="clear"></div>
                    <div class="info-item">
                        <img [src]="item.img | imagenPipe:'productos' " alt="">
                        <h2>{{item.titulo}}</h2>
                        <div class="add-items">
                            <i class="fa fa-minus icon-small" (click)="removeItem(item,i )"></i>
                            <!-- <span>{{item.quantity}}</span> -->
                            <i class="fa fa-plus icon-small" (click)="addItem(item, i)"></i>
                        </div>
                        <div class="price">
                            <!-- <p *ngIf="item.precio_ahora * item.quantity > 0">{{item.precio_ahora * item.quantity | currency}}</p> -->
                            <p >{{item.precio_ahora | currency}}</p>
                        </div>
                    </div>
                </div>
                <!-- itemlist -->
                <div class="d-flex justify-content-between mb-4 total">
                    <p>
                        <b>Total</b>
                    </p>
                    <p>
                        <!-- <b>${{total() | number:'1.2-2'}}</b> -->
                    </p>
                </div>

                <!-- itemlist -->
                <!-- <div class="list-item">
                <div class="top-item">
                    <div class="list-item-left">
                        <i data-lucide="shopping-bag" class="icon"></i>
                        <span>Order #12345</span>
                        
                    </div>
                    <div class="list-item-right">
                        <span>2022-01-01 12:00:00</span>
                        
                    </div>
                </div>
                <div class="clear"></div>
                <div class="info-item">
                    <img src="https://images.unsplash.com/photo-1555507036-ab1f4038808a?q=80&w=1000&auto=format&fit=crop" alt="">
                    <h2>Item Name</h2>
                    <div class="add-items">
                        <i data-lucide="minus" class="icon"></i>
                        <span>1</span>
                        <i data-lucide="plus" class="icon"></i>
                    </div>
                    <div class="price">
                        <p>$15.00</p>
                    </div>
                </div>
            </div> -->
                <!-- itemlist -->


            </div>
        </div>
    </div>
    <div class="order-button-container">
        <button class="check-button" routerLink="/">
            <i class="fa fa-chevron-left icon-small"></i>
            Back
        </button>
        <button class="check-button" routerLink="/checkout" *ngIf="isbandejaList">
            Checkout
            <i class="fa fa-chevron-right icon-small"></i>
        </button>
    </div>
</main>