<app-header></app-header>
<main class="container">
    <div class="hero">
        <h1>Checkout</h1>
    </div>

    <div class="order-list">
        <div class="order-list-bar"></div>
        <div class="list-box">
            <h3>My Order</h3>
            <div class="clear"></div>

        </div>
    </div>
    <div class="order-button-container">
        <button class="check-button" routerLink="/review">
          <i class="fa fa-chevron-left icon-small"></i>
          Back
        </button>
        <button class="check-button" routerLink="/pay">
          Pay
          <i class="fa fa-chevron-right icon-small"></i>
        </button>
      </div>
</main>