

<div class="product-carousel mt-5" >
  <div class="carousel-container" #carouselContainer>
    <div class="carousel-track ordenar">

      <!-- agregadas -->
      <app-bandeja 
        *ngFor="let bandeja of bandejas; let i = index"
        [items]="bandeja.items" 
        (itemsChange)="onItemsChange($event, i)" 
        (itemRemoved)="onItemRemoved($event, i)" 
        cdkDropList 
        
        [cdkDropListConnectedTo]="connectedDropListsIds[i]"
        [cdkDropListData]="bandeja.items"
        (cdkDropListDropped)="drop1($event,i)">
      </app-bandeja>
      <!-- agregadas -->


      <!-- la que viene del solitario -->
      <app-bandeja [items]="bandejaList" ></app-bandeja>
      <!-- la que viene del solitario -->
    </div>
  </div>
  <button class="carousel-nav carousel-prev" (click)="scrollLeft()">
    <i class="fa fa-chevron-left icon-small"></i>
  </button>
  <button class="carousel-nav carousel-next" (click)="scrollRight()">
    <i class="fa fa-chevron-right icon-small"></i>
  </button>
  <button class="add-bandeja-button order-button" (click)="addBandeja()">Agregar Bandeja</button>
</div>

